In [3]:
import pandas as pd
import uuid
import re

#load the data set
df = pd.read_csv("D:/Uptrail Internship/customer_signups.csv")
#Analyze the structure of the dataset
df.info()
df.head(10)
df.tail(10)

df['plan_selected'] = df['plan_selected'].str.replace('PRO', 'Pro', case=False).str.replace('PREMIUM', 'Premium', case=False).str.replace('basic', 'Basic', case = False)
df.tail(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       298 non-null    object
 1   name              291 non-null    object
 2   email             266 non-null    object
 3   signup_date       298 non-null    object
 4   source            291 non-null    object
 5   region            270 non-null    object
 6   plan_selected     292 non-null    object
 7   marketing_opt_in  290 non-null    object
 8   age               288 non-null    object
 9   gender            292 non-null    object
dtypes: object(10)
memory usage: 23.6+ KB

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
290,CUST00290,Michael Nichols,michael90@inboxmail.net,17-10-24,Facebook,North,Pro,No,40,male
291,CUST00291,Thomas Flores,thomas91@mailhub.org,18-10-24,YouTube,South,Basic,No,60,Female
292,CUST00292,Ellen Blair,ellen92@mailhub.org,19-10-24,Google,East,UnknownPlan,NaN,40,Male
293,CUST00293,Yvonne Harding,yvonne93@inboxmail.net,20-10-24,Google,Central,Pro,Yes,34,male
294,CUST00294,Mrs. Jessica Smith,mrs.94@example.com,21-10-24,Google,South,Pro,Yes,29,Other
295,CUST00295,Gary Smith,gary95@example.com,22-10-24,Google,West,Premium,Yes,40,NaN
296,CUST00296,Anthony Roberts,anthony96@mailhub.org,23-10-24,Google,Central,Basic,Yes,25,Female
297,CUST00297,Timothy Mclaughlin,NaN,24-10-24,Instagram,West,Basic,Yes,60,NaN
298,CUST00298,Justin Mcintyre,justin98@mailhub.org,25-10-24,YouTube,South,Premium,No,53,male
299,CUST00299,Mr. Bruce Bridges,mr.99@example.com,26-10-24,NaN,North,Premium,Yes,29,Male

In [2]:
#Part 1: Identifiy missing values , Identify missing values, data types, and column structure 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       298 non-null    object
 1   name              291 non-null    object
 2   email             266 non-null    object
 3   signup_date       298 non-null    object
 4   source            291 non-null    object
 5   region            270 non-null    object
 6   plan_selected     292 non-null    object
 7   marketing_opt_in  290 non-null    object
 8   age               288 non-null    object
 9   gender            292 non-null    object
dtypes: object(10)
memory usage: 23.6+ KB

In [4]:
df['signup_date'].head()

0         NaN
1    02-01-24
2    03-01-24
3    04-01-24
4    05-01-24
Name: signup_date, dtype: object

In [14]:
#Count missing values
missing_values = df.isnull().sum()
print("\nCount of missing values:\n", missing_values)

#percentage of missing values
missing_values_percentage = (df.isnull().sum()/len(df))*100
print("\nPercentage of missing values:\n", missing_values_percentage)

Count of missing values:
 customer_id           0
name                  0
email                34
signup_date         300
source                9
region               30
plan_selected         8
marketing_opt_in     10
age                  12
gender                8
dtype: int64

Percentage of missing values:
 customer_id           0.000000
name                  0.000000
email                11.333333
signup_date         100.000000
source                3.000000
region               10.000000
plan_selected         2.666667
marketing_opt_in      3.333333
age                   4.000000
gender                2.666667
dtype: float64

In [8]:
#fill missing values of columns
df['name'] = df['name'].fillna('Unknown')
df['email'] = df['email'].fillna('unknown@example.com')
df['source'] = df['source'].fillna('unknown')
df['region'] = df['region'].fillna('Unknown')
df['plan_selected'] = df['plan_selected'].fillna(df['plan_selected'].mode()[0])
#Assume no marketing optin for missing value
df['marketing_opt_in'] = df['marketing_opt_in'].fillna('No')
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df['age'] = df['age'].fillna(df['age'].median())
df['gender'] = df['gender'].fillna(df['gender'].mode()[0])

#Count missing values
missing_values = df.isnull().sum()
print("\nCount of missing values:\n", missing_values)

#percentage of missing values
missing_values_percentage = (df.isnull().sum()/len(df))*100
print("\nPercentage of missing values:\n", missing_values_percentage)

#Convert signup_date to datetime 
df['signup_date'] = pd.to_datetime(df['signup_date'], format = '%m/%d/%Y', errors = 'coerce')

Count of missing values:
 customer_id           2
name                  0
email                 0
signup_date         300
source                0
region                0
plan_selected         0
marketing_opt_in      0
age                   0
gender                0
dtype: int64

Percentage of missing values:
 customer_id           0.666667
name                  0.000000
email                 0.000000
signup_date         100.000000
source                0.000000
region                0.000000
plan_selected         0.000000
marketing_opt_in      0.000000
age                   0.000000
gender                0.000000
dtype: float64

In [6]:
#Standardization of inconsistenece values
df['plan_selected'] = df['plan_selected'].str.strip().str.title()
df['gender'] = df['gender'].str.strip().str.title()

In [7]:
df.head(10)

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
0,CUST00000,Joshua Bryant,NaN,NaT,Instagram,NaN,Basic,No,34,Female
1,CUST00001,Nicole Stewart,nicole1@example.com,NaT,LinkedIn,West,Basic,Yes,29,Male
2,CUST00002,Rachel Allen,rachel2@example.com,NaT,Google,North,Premium,Yes,34,Non-Binary
3,CUST00003,Zachary Sanchez,zachary3@mailhub.org,NaT,YouTube,NaN,Pro,No,40,Male
4,CUST00004,NaN,matthew4@mailhub.org,NaT,LinkedIn,West,Premium,No,25,Other
5,CUST00005,John Gonzales,john5@mailhub.org,NaT,Facebook,South,Premium,No,34,Other
6,CUST00006,Crystal Mason,crystal6@mailhub.org,NaT,YouTube,North,Unknownplan,Yes,40,Male
7,CUST00007,Michael Bailey,michael7@mailhub.org,NaT,YouTube,Central,Pro,Yes,60,Other
8,CUST00008,Bianca Morris,bianca8@example.com,NaT,Referral,West,Pro,Yes,25,Male
9,CUST00009,Cindy Anderson,NaN,NaT,Google,East,Premium,No,29,Female

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       298 non-null    object
 1   name              291 non-null    object
 2   email             266 non-null    object
 3   signup_date       0 non-null      datetime64[ns]
 4   source            291 non-null    object
 5   region            270 non-null    object
 6   plan_selected     292 non-null    object
 7   marketing_opt_in  290 non-null    object
 8   age               288 non-null    object
 9   gender            292 non-null    object
dtypes: datetime64[ns](1), object(9)
memory usage: 23.6+ KB

In [9]:
#finding number of duplicate rows on the basis of customer id column

duplicates = df[df.duplicated(subset = 'customer_id', keep = False)]
print(duplicates)

    customer_id             name                    email signup_date  \
161         NaN    Robert Carter     robert61@example.com         NaT
287         NaN  Antonio Hammond  antonio87@inboxmail.net         NaT

        source region plan_selected marketing_opt_in age  gender
161   LinkedIn  South           Pro              Yes  34    Male
287  Instagram   West          Prem              Yes  25  Female

In [10]:
# Check for rows with missing customer_id
missing_id_rows = df[df['customer_id'].isnull()]
print(missing_id_rows)

    customer_id             name                    email signup_date  \
161         NaN    Robert Carter     robert61@example.com         NaT
287         NaN  Antonio Hammond  antonio87@inboxmail.net         NaT

        source region plan_selected marketing_opt_in age  gender
161   LinkedIn  South           Pro              Yes  34    Male
287  Instagram   West          Prem              Yes  25  Female

In [11]:
#Fill missing value in customer id randomly
df['customer_id'] = df['customer_id'].apply(lambda x: str(uuid.uuid4()) if pd.isna(x) else x)
print(df['customer_id'].isna().sum())

0

In [12]:

df['customer_id'].isna().sum()

np.int64(0)

In [13]:
#finding missing values in age, region and email
df['region'].isna().sum()

np.int64(30)

In [14]:
df['email'].isna().sum()

np.int64(34)

In [15]:
df['age'].isna().sum()

np.int64(12)

In [70]:
#Fill missing region, age and email with Unknown 
df['region'] = df['region'].fillna('Unknown')
df['email'] = df['email'].fillna('Unknown')
df['age'] = df['age'].fillna('Unknown')

df['age'].isna().sum()

np.int64(0)

In [17]:
#----------------------------------Data Quality Summary-------------------------------------------------------
#missing value count
missing_values_count = df.isnull().sum()
print(missing_values_count)

customer_id           0
name                  9
email                34
signup_date         300
source                9
region                0
plan_selected         8
marketing_opt_in     10
age                   0
gender                8
dtype: int64

In [18]:
#percentage of missing value count
missing_values_percentage = (missing_values_count/len(df)) *100
print(missing_values_percentage)

customer_id           0.000000
name                  3.000000
email                11.333333
signup_date         100.000000
source                3.000000
region                0.000000
plan_selected         2.666667
marketing_opt_in      3.333333
age                   0.000000
gender                2.666667
dtype: float64

In [19]:
#Inconsistent values corrected
df['plan_selected'] = df['plan_selected'].str.strip().str.title()
df['gender'] = df['gender'].str.strip().str.title()
print(df['plan_selected'])
print(df['gender'])

0        Basic
1        Basic
2      Premium
3          Pro
4      Premium
        ...
295    Premium
296      Basic
297      Basic
298    Premium
299    Premium
Name: plan_selected, Length: 300, dtype: object
0          Female
1            Male
2      Non-Binary
3            Male
4           Other
          ...
295           NaN
296        Female
297           NaN
298          Male
299          Male
Name: gender, Length: 300, dtype: object

In [20]:
# No duplicates on the basis of customer_id found

In [21]:
#---------------Summary outputs using pandas aggregation-----------


#Sign ups per week
df['signup_date'] = pd.to_datetime(df['signup_date'], format='%m/%d/%Y', errors='coerce')
df['sign_ups_week'] = df['signup_date'].dt.to_period('W').astype(str)
sign_ups_per_week = df['sign_ups_week'].value_counts().sort_index()

print("Sign-ups per week:")
print(sign_ups_per_week)

Sign-ups per week:
sign_ups_week
NaT    300
Name: count, dtype: int64

In [22]:
print(df['signup_date'].head(10))

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
5   NaT
6   NaT
7   NaT
8   NaT
9   NaT
Name: signup_date, dtype: datetime64[ns]

In [23]:



df['signup_date'] = pd.to_datetime(df['signup_date'], errors='coerce', dayfirst=True)
df['sign_ups_week'] = df['signup_date'].dt.to_period('W').astype(str)
sign_ups_per_week = df['sign_ups_week'].value_counts().sort_index()
print(sign_ups_per_week)

sign_ups_week
NaT    300
Name: count, dtype: int64

In [24]:
print(df['signup_date'].head(10))  # BEFORE conversion

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
5   NaT
6   NaT
7   NaT
8   NaT
9   NaT
Name: signup_date, dtype: datetime64[ns]

In [71]:


# First, make a clean string version of the date
df['signup_date_clean'] = df['signup_date'].astype(str).str.strip()

# remove time parts if present (e.g., '13-08-24 00:00:00')
df['signup_date_clean'] = df['signup_date_clean'].str.extract(r'([\d/-]+)')

# Handle both dd/mm/yyyy and dd-mm-yy by trying multiple formats
def try_parse(date_str):
    for fmt in ('%d/%m/%Y', '%d-%m-%Y', '%d-%m-%y', '%d/%m/%y'):
        try:
            return pd.to_datetime(date_str, format=fmt, dayfirst=True)
        except:
            continue
    return pd.NaT

df['signup_date_parsed'] = df['signup_date_clean'].apply(try_parse)

# Now use parsed dates
df['sign_ups_week'] = df['signup_date_parsed'].dt.to_period('W').astype(str)
sign_ups_per_week = df['sign_ups_week'].value_counts().sort_index()

print(sign_ups_per_week)

sign_ups_week
2024-01-01/2024-01-07    6
2024-01-08/2024-01-14    7
2024-01-15/2024-01-21    7
2024-01-22/2024-01-28    5
2024-01-29/2024-02-04    6
2024-02-05/2024-02-11    5
2024-02-12/2024-02-18    7
2024-02-19/2024-02-25    6
2024-02-26/2024-03-03    6
2024-03-04/2024-03-10    7
2024-03-11/2024-03-17    5
2024-03-18/2024-03-24    6
2024-03-25/2024-03-31    4
2024-04-01/2024-04-07    7
2024-04-08/2024-04-14    7
2024-04-15/2024-04-21    5
2024-04-22/2024-04-28    6
2024-04-29/2024-05-05    5
2024-05-06/2024-05-12    5
2024-05-13/2024-05-19    7
2024-05-20/2024-05-26    5
2024-05-27/2024-06-02    7
2024-06-03/2024-06-09    5
2024-06-10/2024-06-16    7
2024-06-17/2024-06-23    7
2024-06-24/2024-06-30    7
2024-07-01/2024-07-07    7
2024-07-08/2024-07-14    7
2024-07-15/2024-07-21    6
2024-07-22/2024-07-28    5
2024-07-29/2024-08-04    7
2024-08-05/2024-08-11    6
2024-08-12/2024-08-18    6
2024-08-19/2024-08-25    6
2024-08-26/2024-09-01    6
2024-09-02/2024-09-08    6
2024-09-09/2024-09-15    6
2024-09-16/2024-09-22    6
2024-09-23/2024-09-29    7
2024-09-30/2024-10-06    7
2024-10-07/2024-10-13    7
2024-10-14/2024-10-20    5
2024-10-21/2024-10-27    6
NaT                      7
Name: count, dtype: int64

In [72]:
#Sign ups by source, region and plan selected

signups_summary = df.groupby(['source','region','plan_selected']).size().reset_index(name = 'sign_up_count')
print(signups_summary)

       source   region plan_selected  sign_up_count
0          ??  Central           Pro              1
1          ??    South           Pro              1
2          ??     West         Basic              1
3          ??     West           Pro              1
4    Facebook  Central       PREMIUM              1
..        ...      ...           ...            ...
150   YouTube  Unknown         basic              2
151   YouTube     West         Basic              1
152   YouTube     West       PREMIUM              2
153   YouTube     West       Premium              3
154   YouTube     West           Pro              1

[155 rows x 4 columns]

In [27]:
#Marketing Opt_in counts by gender
df['gender'] = df['gender'].str.strip().str.title()
marketing_opt_in_counts_by_gender = df.groupby('gender')['marketing_opt_in'].value_counts().unstack(fill_value=0)
print(marketing_opt_in_counts_by_gender)

marketing_opt_in  Nil  No  Yes
gender
123                 0   3    3
Female              0  47   45
Male                1  50   38
Non-Binary          0  20   19
Other               0  32   24

In [28]:
#Age Summary - Min, Max, median, mean, null count
df['age'] = pd.to_numeric(df['age'], errors='coerce')

age_summary = {
    'min': df['age'].min(),
    'max': df['age'].max(),
    'mean': df['age'].mean(),
    'median': df['age'].median(),
    'null_count': df['age'].isna().sum()
}
print(age_summary)

{'min': np.float64(21.0), 'max': np.float64(206.0), 'mean': np.float64(36.13523131672598), 'median': np.float64(34.0), 'null_count': np.int64(19)}

In [73]:
support_df = pd.read_csv("D:/Uptrail Internship/support_tickets.csv")

support_df['ticket_date'] = pd.to_datetime(support_df['ticket_date'], errors='coerce', dayfirst=True)
support_df.columns = support_df.columns.str.strip()

# Merge the two datasets

merged_df = pd.merge(df, support_df, on = 'customer_id', how = 'left' )
df.columns = df.columns.str.strip() 

#Calculate days between signup and support ticket
merged_df['days_to_support'] = (merged_df['ticket_date'] - merged_df['signup_date_parsed']).dt.days
#Filter customers who contacted support within two weeks

within_two_weeks = merged_df[merged_df['days_to_support'].between(0,14)]

#Count of customers who contacted support within two weeks

count_customers_within_two_weeks = within_two_weeks['customer_id'].nunique()

print(f"Number of customers who contacted support within two weeks duration:{count_customers_within_two_weeks}")

Number of customers who contacted support within two weeks duration:26

C:\Users\kpk laptops\AppData\Local\Temp\ipykernel_18516\3892938080.py:3: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  support_df['ticket_date'] = pd.to_datetime(support_df['ticket_date'], errors='coerce', dayfirst=True)

In [30]:

# Check if columns are datetime after conversion
# Check the *parsed* version
from pandas.api.types import is_datetime64_any_dtype

if is_datetime64_any_dtype(df['signup_date_parsed']):
    print("✅ 'signup_date_parsed' is datetime.")
else:
    print("❌ 'signup_date_parsed' is NOT datetime.")

if pd.api.types.is_datetime64_any_dtype(merged_df['ticket_date']):
    print("✅ 'ticket_date' is datetime.")
else:
    print("❌ 'ticket_date' is NOT datetime.")

✅ 'signup_date_parsed' is datetime.
✅ 'ticket_date' is datetime.

In [31]:
#Support activity by plan and region

support_activity = merged_df.groupby(['plan_selected','region']).agg(total_support_tickets = ('ticket_id', 'count' ), unique_customers = ('customer_id', 'nunique')).reset_index()
print(support_activity)

    plan_selected                    region  total_support_tickets  \
0           Basic                   Unknown                      3
1           Basic      alfred77@example.com                      0
2           Basic      amanda45@example.com                      0
3           Basic       andre51@mailhub.org                      0
4           Basic      andrea31@mailhub.org                      0
..            ...                       ...                    ...
258   Unknownplan     caitlin37@example.com                      0
259   Unknownplan      crystal6@mailhub.org                      0
260   Unknownplan       ellen92@mailhub.org                      0
261   Unknownplan  jacqueline63@example.com                      0
262   Unknownplan       kevin29@example.com                      3

     unique_customers
0                   8
1                   1
2                   1
3                   1
4                   1
..                ...
258                 1
259                 1
260                 1
261                 1
262                 1

[263 rows x 4 columns]

In [32]:
print(support_df.columns)

Index(['ticket_id', 'customer_id', 'ticket_date', 'issue_type', 'resolved'], dtype='object')

In [33]:
print("ticket_id" in merged_df.columns)

True

In [3]:
#Finding answers for business questions

# which acquisition source brought in most users last month

df['signup_year_month'] = df['signup_date_parsed'].dt.to_period('M')
#Get the most recent month

last_month = df['signup_year_month'].max()

#filter rows for that last month

last_month_data = df[df['signup_year_month'] == last_month]

source_counts = last_month_data['source'].value_counts()

print(f"Sign up source distribution in {last_month}:")

print(source_counts)


# UNABLE TO RESOLVE THIS ISSUE

KeyError: 'signup_date_parsed'

In [4]:
#Finding answers for business questions

# which acquisition source brought in most users last month

df['signup_year_month'] = df['signup_date_parsed'].dt.to_period('M')
#Get the most recent month

last_month = df['signup_year_month'].max()

#filter rows for that last month

last_month_data = df[df['signup_year_month'] == last_month]

source_counts = last_month_data['source'].value_counts()

print(f"Sign up source distribution in {last_month}:")

print(source_counts)


# UNABLE TO RESOLVE THIS ISSUE

KeyError: 'signup_date_parsed'

In [60]:
#Region which shows incomplete or missing values

missing_data = df[df.isnull().any(axis=1)]
missing_counts = missing_data.groupby('region').size().reset_index(name = 'missing_count')
print(missing_counts)

    region  missing_count
0  Central              9
1     East             16
2    North             21
3    South             13
4     West             16

In [65]:
#Are old users more or less likely to opt in for marketing

# Convert 'age' to numeric, coercing errors to NaN
df['age'] = pd.to_numeric(df['age'], errors='coerce')

# Drop rows with invalid/missing age
df = df.dropna(subset=['age'])

# Define age bins and labels
bins = [0, 18, 30, 45, 60, 100]
labels = ['<18', '18-30', '31-45', '46-60', '60+']

# Create age groups
df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels, right=False)

# Map marketing opt-in to numeric 0/1 (adjust keys to your data)
df['marketing_opt_in_numeric'] = df['marketing_opt_in'].map({'Yes': 1, 'No': 0})

# Drop rows with missing marketing opt-in info after mapping
df = df.dropna(subset=['marketing_opt_in_numeric'])

# Calculate average opt-in rate per age group
opt_in_rates = df.groupby('age_group')['marketing_opt_in_numeric'].mean().reset_index()

print(opt_in_rates)

  age_group  marketing_opt_in_numeric
0       <18                       NaN
1     18-30                  0.444444
2     31-45                  0.461538
3     46-60                  0.489362
4       60+                  0.428571

C:\Users\kpk laptops\AppData\Local\Temp\ipykernel_18516\510592009.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels, right=False)
C:\Users\kpk laptops\AppData\Local\Temp\ipykernel_18516\510592009.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['marketing_opt_in_numeric'] = df['marketing_opt_in'].map({'Yes': 1, 'No': 0})
C:\Users\kpk laptops\AppData\Local\Temp\ipykernel_18516\510592009.py:23: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  opt_in_rates = df.groupby('age_group')['marketing_opt_in_numeric'].mean().reset_index()

In [69]:
# Which plan is selected most commonly and by which age group

most_common_plan_selected = df['plan_selected'].mode()[0]
print(f"Most common plan selected: {'most_common_plan_selected'}")
#Find the most commonly selected plan per age group
most_common_plan_by_age_group = df.groupby('age_group')['plan_selected'] \
    .agg(lambda x: x.mode().iat[0] if not x.mode().empty else None) \
    .reset_index()

print("\nMost commonly selected plan by age group:")
print(most_common_plan_by_age_group)

Most common plan selected: most_common_plan_selected

Most commonly selected plan by age group:
  age_group plan_selected
0       <18          None
1     18-30           Pro
2     31-45       Premium
3     46-60       Premium
4       60+         Basic

C:\Users\kpk laptops\AppData\Local\Temp\ipykernel_18516\1540174523.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  most_common_plan_by_age_group = df.groupby('age_group')['plan_selected'] \